
<div class="container">
  <h1 class="text-center">STUPID COACH ANSWER</h1>
  <div class="question">
    <p><%= @question %></p>
    <cite>- Your</cite>
  </div>

  <div class="answer">
    <p><%= @answer %></p>
    <cite>- Your coach</cite>
  </div>
<%= link_to 'Ask a new question', ask_path %>
</div>
