
<div class="ask">
  <h1 class="text-center">STUPID COACHING APP</h1>
  <div class="form">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <form action="/answer" class="form-inline">
            <label for="message">Ask your coach anything</label>
            <input type="text" name="question" class="form-control" id=message placeholder="Ask something">
            <input type="submit" value="Ask!" class="btn btn-info" >
          </form>
        </div>
      </div>
  </div>
</div>
